* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

}

.sidebar {
    width: 20%;
    background-color: #FCFAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    width: 80%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.sidebar-top {
    margin-top: 15px;
}

.sidebar-head-item {
    width: 80%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px 0 10px 0;
}

.sidebar-head-item-left, .sidebar-head-item-right {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sidebar-head-item-left p {
    font-size: 14px;
    font-weight: bold;
}

.sidebar-head-icon {
    height: 60%;
    width: auto;
}

.sidebar-item-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100%;
    width: 100%;
    align-items: center;
}

.sidebar-item-div img {
    height: 100%;
    width: auto;
    margin-right: 10px;
}

.sidebar-item-div p {
    font-size: 14px;
}

.home-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* color: #A81F00; */